.accordion {
    margin-left: 16%;
    margin-right: 16%;
}

.button_and_alter {
    display: flex;
    justify-content: space-between;
}

#BtnPasswordCreate {
    height: 50%;
}

#BtnPasswordGet {
    height: 50%;
}

#BtnPasswordDel {
    height: 50%;
}

#BtnPasswordAll {
    height: 50%;
}

.alert-danger {
    visibility: hidden;
}
